.footer {
  background-color: #f2f2f2;

}

.footer a {
  transition: all 0.3s ease;
}


.footer .footer-content {
  margin: auto;
  padding: 50px 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}



.footer .footer-content .footer-section {
  transition: all 0.4s ease;
}

/* common for all heading  */
.footer-section div h2 {
  font-size: 20px;
  font-weight: 600;
  color: #1d1d1d;
  margin-bottom: 16px;
  text-transform: none;
}

.footer-left-section {
  width: 28%;


}

.footer-left-section div p {
  color: #1d1d1d;
  line-height: 1.45;
}


/* middle section  */

.footer-middle-section {
  padding: 0 25px;

}

.footer-middle-section a {
  line-height: 32px;
  color: #1d1d1d;

}

.footer-middle-section a:hover {
  text-decoration: underline;
}



/* right section  */
.footer-right-section {
  padding: 0 25px;
}

.footer-right-section div:nth-child(2),
.footer-right-section div:nth-child(3),
.footer-right-section div:nth-child(4) {
  display: flex;
  line-height: 2.4;
}

.footer-right-section div i {
  display: flex;
  font-size: 20px;
  color: rgb(85, 85, 85);
  align-items: center;

}

.footer-right-section div span {
  margin-left: 10px;
}


.footer-right-section-media-icons {
  display: flex;

}

.footer-right-section-media-icons a {
  font-size: 18px;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  line-height: 43px;
  margin: 10px 0px 0 0;
  transition: all 0.3s ease;
}

.footer-right-section-media-icons a i:hover {
  font-size: 28px;
  transition: 0.2s;
  color: rgb(0, 0, 0);
}





@media (max-width: 1076px) {
  .footer .footer-content {
    justify-content: space-between;

  }

  .footer-left-section {
    width: 50%;

  }

  .footer-middle2-section {
    /* margin-top: 40px; */
  }

  .footer-middle-section {
    /* margin-top: 40px; */
  }

  .footer-right-section {
    margin-top: 40px;
  }
}

@media (max-width: 788px) {


  .footer-middle-section {
    padding: 0;

  }

  .footer-right-section {
    margin-top: 40px;
    padding: 0;

  }
}

@media (max-width: 560px) {
  .footer-left-section {
    width: 100%;
  }

  .footer-middle-section {
    margin-top: 40px;
  }
}

.footer-copy-right p {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  color: black;
}

@media screen and (max-width: 600px) {
  .footer-copy-right p {
    font-size: 12px;
  }
}