/* Product listed  */
.fullproduct-container {
    text-align: center;
    /* padding: 25px 0; */
    line-height: 1.6;
}


.fullproduct-list-container {
    text-align: center;
    padding: 50px 0;
}

.fullproduct-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fullproduct-card {
    position: relative;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.fullproduct-card:hover {
    transform: translateY(-5px);
}

.fullproduct-image-container {
    border-bottom: 1px solid #eaeaea;
}

.fullproduct-image {
    width: 100%;
    height: 430px;
    object-fit: cover;
}




.fullproduct-whitelist-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px 2px;
    border-radius: 100%;
    display: none;
}

.fullproduct-addcart-icon {
    position: absolute;
    top: 60px;
    right: 10px;
    color: black;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px 2px;
    border-radius: 100%;
    display: none;
}

.fullproduct-view-icon {
    position: absolute;
    top: 110px;
    right: 10px;
    color: black;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px 2px;
    border-radius: 100%;
    display: none;
}

.fullproduct-card:hover:hover .fullproduct-whitelist-icon {
    display: block;
}

.fullproduct-card:hover:hover .fullproduct-addcart-icon {
    display: block;
}

.fullproduct-card:hover:hover .fullproduct-view-icon {
    display: block;
}

.fullproduct-info {
    padding: 5px 10px;
    text-align: start;
}

.fullproduct-info span {
    color: rgb(167, 167, 167);
}

.fullproduct-info p {
    font-size: 16px;
    color: rgb(73, 73, 73);
}

.fullproduct-price {
    font-size: 17px;
    color: rgb(73, 73, 73);
}



/* filter secton and heading  */

.fullproduct-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;

}


.fullproduct-heading h2 {
    margin: 20px 0 30px 0;
    font-weight: bold;
    font-size: 27px;
    text-transform: uppercase;

}


.fullproduct-heading .fullproduct-heading-filter-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.fullproduct-heading .fullproduct-heading-filter-icons p {
    font-weight: 600;
    height: 35px;
    width: 135px;
    border: 1px solid black;
    cursor: pointer;
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    /* border-radius: 4px; */
    color: black;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.fullproduct-heading .fullproduct-heading-filter-icons p i {
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* .fullproduct-filter-section {
    position: absolute;
    top: 250px;
    z-index: 1;
    right: 280px;
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

} */

/* .fullproduct-filter-section::after {
    content: '';
    position: absolute;
    top: -5px;
    right: 10px;
    transition: border-color 0.3s ease;
    border-width: 0 7px 7px 7px;
    border-style: solid;
    border-color: transparent transparent black transparent;
} */

/* .fullproduct-filter-section div {
    color: white;
    padding: 15px 45px;
    border: 1px solid grey;
    cursor: pointer;
}

.fullproduct-filter-section div:hover {
    background-color: rgb(64, 64, 64);
} */


/* .fullproduct-sort-section {
    position: absolute;
    top: 250px;
    z-index: 1;
    right: 150px;
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fullproduct-sort-section::after {
    content: '';
    position: absolute;
    top: -5px;
    right: 10px;
    border-width: 0 7px 7px 7px;
    border-style: solid;
    border-color: transparent transparent black transparent;
} */

/* .fullproduct-sort-section div {
    color: white;
    padding: 15px 45px;
    border: 1px solid grey;

    cursor: pointer;
} */

/* .fullproduct-sort-section div:hover {
    background-color: rgb(64, 64, 64);
} */


.full-product-list-pages {
    display: flex;
    margin: 50px 0;
    align-items: center;
    justify-content: center;

}

.full-product-list-pages div {
    margin: 0 20px;
    cursor: pointer;
    font-size: 17px;

    transition: 0.3s;
    color: #242424;
}

.full-product-list-pages div a {
    color: #242424;
}

.full-product-list-pages div.active .full-product-active:visited {
    color: white;
}

.full-product-list-pages div.active,
.full-product-list-pages div.active:hover {
    /* color: red; */
    background-color: black;
    padding: 5px 14px;
    border-radius: 50%;
    color: white;
}

.full-product-list-pages div:hover {
    /* font-size: 20px; */
    color: black;

}


@media screen and (max-width: 1280px) {
    .fullproduct-card {
        width: 250px;
    }

    .fullproduct-image {
        height: 350px;
    }
}

@media screen and (max-width: 1040px) {
    .fullproduct-card {
        width: 230px;
    }

    .fullproduct-image {
        height: 330px;
    }
}

@media screen and (max-width: 1000px) {
    .fullproduct-card .fullproduct-whitelist-icon {
        display: block;
    }

    .fullproduct-card .fullproduct-addcart-icon {
        display: block;
    }

    .fullproduct-card .fullproduct-view-icon {
        display: block;
    }
}


@media screen and (max-width: 720px) {
    .fullproduct-container {
        padding: 15px 0;
        line-height: 1.6;
    }

    .fullproduct-card .fullproduct-whitelist-icon {
        font-size: 15px;
    }

    .fullproduct-card .fullproduct-addcart-icon {
        font-size: 15px;
        top: 50px;
    }

    .fullproduct-card .fullproduct-view-icon {
        font-size: 15px;
        top: 90px;
    }

    .fullproduct-info p {
        margin: 2px 0;
        font-size: 15px;
    }

    .product-price {
        font-size: 14px;
    }

    .fullproduct-card {
        width: 200px;
    }

    .fullproduct-image {
        height: 310px;
    }
}

@media screen and (max-width: 630px) {

    .fullproduct-card .fullproduct-whitelist-icon {
        font-size: 15px;
    }

    .fullproduct-card .full-product-addcart-icon {
        font-size: 15px;
        top: 50px;
    }

    .fullproduct-card .fullproduct-view-icon {
        font-size: 15px;
        top: 90px;
    }

    .fullproduct-card {
        width: 180px;
        margin: 5px 2px;
    }

    .fullproduct-image {
        height: 280px;
    }

    .fullproduct-heading {
        flex-direction: column;
        justify-content: center;
        padding: 0px;
    }

    .fullproduct-heading h2 {
        margin: 20px 0 20px 0;
        font-size: 22px;

    }

}

@media screen and (max-width: 555px) {
    .fullproduct-card {
        width: 270px;
    }

    .fullproduct-image {
        height: 390px;
    }
}

@media screen and (max-width: 550px) {
    .fullproduct-card {
        width: 260px;
    }

    .fullproduct-image {
        height: 390px;
    }
}

@media screen and (max-width: 530px) {
    .fullproduct-card {
        width: 240px;
    }

    .fullproduct-image {
        height: 370px;
    }
}

@media screen and (max-width: 490px) {
    .fullproduct-card {
        width: 210px;
    }

    .fullproduct-image {
        height: 300px;
    }
}

@media screen and (max-width: 430px) {
    .fullproduct-info {
        padding: 1px 10px;
        text-align: start;
    }

    .fullproduct-info p {
        margin: 2px 0;
        font-size: 14px;
    }

    .fullproduct-info span {
        font-size: 12.5px;
    }

    .fullproduct-card {
        width: 190px;
    }

    .fullproduct-image {
        height: 280px;
    }
}

@media screen and (max-width: 390px) {


    .fullproduct-whitelist-icon {
        font-size: 11px;
        padding: 8px 8px 1px;
    }

    .fullproduct-addcart-icon {
        font-size: 11px;
        top: 40px;
        padding: 8px 8px 1px;
    }

    .fullproduct-view-icon {
        font-size: 11px;
        top: 70px;
        padding: 8px 8px 1px;
    }

    .fullproduct-card {
        width: 170px;
    }

    .fullproduct-image {
        height: 230px;
    }
}

@media screen and (max-width: 350px) {
    .fullproduct-card {
        width: 150px;
    }

    .fullproduct-image {
        height: 220px;
    }
}

@media screen and (max-width: 310px) {
    .fullproduct-card {
        width: 130px;
    }

    .fullproduct-image {
        height: 190px;
    }
}



.fullproduct-filter-section {
    position: absolute;
    top: 100%;
    left: 10px;
    z-index: 1;
    background-color: #fff;
    margin-top: 1px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fullproduct-filter-section div {
    padding: 10px 16px;
    width: 135px;
    border: 1px solid rgb(199, 195, 195);
    color: black;
    cursor: pointer;
    font-size: 12px;
}

.fullproduct-filter-section div:hover {
    background-color: #f2f2f2;
}



.fullproduct-sort-section {
    position: absolute;
    top: 100%;
    right: 10px;
    z-index: 1;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fullproduct-sort-section div {
    padding: 10px 16px;
    width: 135px;
    font-size: 12px;
    border: 1px solid rgb(199, 195, 195);
    color: black;
    cursor: pointer;
}

.fullproduct-sort-section div:hover {
    background-color: #f2f2f2;
    /* Background color on hover */
}