.header {
  background-image: url("https://images.indianweddingsaree.com/image/index/Super-Sale-2023-final.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 500px;
}
