.navbar-item {
  display: flex;
  align-items: center;
  padding: 25px 60px;
  justify-content: space-between;
}

.sticky-nav-come {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 10;

}

/*  RIGHT SIDE ICONS   */
.nav-items ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items ul li {
  list-style: none;
  padding: 0 10px;
  position: relative;
}

.nav-item-search a.active::after,
.nav-item-search a:hover::after {
  content: "Search";
  position: absolute;
  bottom: -24px;
  color: white;
  left: 20px;
  line-height: 24px;
  height: 25px;
  width: 48px;
  font-size: 13px;
  text-align: center;
  background-color: rgb(71, 71, 71);
}

.nav-item-user a.active::after,
.nav-item-user a:hover::after {
  content: "User";
  position: absolute;
  bottom: -21px;
  color: white;
  left: 20px;
  line-height: 24px;
  height: 25px;
  width: 40px;
  font-size: 13px;
  text-align: center;
  background-color: rgb(71, 71, 71);
}

.nav-item-whitlist a.active::after,
.nav-item-whitlist a:hover::after {
  content: "whitlist";
  position: absolute;
  bottom: -25px;
  color: white;
  left: 20px;
  line-height: 25px;
  height: 25px;
  width: 50px;
  font-size: 13px;
  text-align: center;
  background-color: rgb(71, 71, 71);
}

.nav-item-cart a.active::after,
.nav-item-cart a:hover::after {
  content: "Cart";
  position: absolute;
  bottom: -21px;
  color: white;
  left: 20px;
  height: 25px;
  width: 38px;
  line-height: 25px;
  font-size: 13px;
  text-align: center;
  background-color: rgb(71, 71, 71);
}

.nav-items ul li a {
  font-size: 20px;
  color: black;
}

.nav-items ul li a:hover {
  color: rgb(99, 99, 99);
}

.nav-item-cart {
  position: relative;
}

.nav-item-cart span {
  position: absolute;
  top: -12px;
  right: -5px;
  background-color: black;
  color: #fff;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 11px;
  font-weight: bold;
}

/* MIDDLE BRAND NAME  */
.brand-name a {
  margin-left: 185px;
  text-align: center;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  font-size: 23px;
  letter-spacing: 0.8px;
}

/* SIDE NAVBAR LIST */

.navbar-menu-icon i {
  font-size: 26px;
  color: black;
  cursor: pointer;
}

.navbar-menu-icon i:hover {
  color: rgb(99, 99, 99);
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(255, 255, 255);
  left: -100%;
  top: 0px;
  width: 300px;
  z-index: 10;
  margin: 0;
  padding: 0;
  position: fixed;
  height: 100%;
  transition: all .1s ease-in-out;
}

.nav-menu .navside-bar-menu-list {
  padding: 20px;
  position: relative;
  border-bottom: 1px solid rgb(202, 202, 202);
  width: 100%;
  transition: 0.3s;
}

.navside-bar-menu-list i {
  cursor: pointer;
}

.nav-menu .navside-bar-menu-list:hover {
  transition: 0.3s;
  background-color: rgb(241, 235, 235);
}

.nav-menu.active {
  left: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
}

.nav-menu .navside-bar-menu-list p {
  line-height: 1.5;
}

.menu-list {
  display: block;
  width: 100%;
}

.menu-list div {
  cursor: pointer;
}


.category-list {
  display: block;
  width: 100%;
}

.category-list div {
  cursor: pointer;
}



.btn-list-navbar button {
  padding: 13px 15px;
  border-radius: 10px;
  margin-inline-end: 10px;
  color: grey;
  border: 1px solid grey;
}

.btn-list-navbar button:hover {
  background-color: rgb(225, 225, 225);
}

.navside-bar-menu-list ul {
  text-decoration: none;
  list-style: none;
}

.nav-item-currency select {
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

.nav-item-currency select option {
  background-color: #fff;
}
.currency-navbarlist {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav-item-user {
    display: none;

  }

  .nav-item-whitlist {
    display: none;
  }

}


@media screen and (max-width: 650px) {

  /* remove currency from front  */
  .nav-items ul .nav-item-currency {
    display: none;
  }

  .currency-navbarlist {
    display: block;
  }
  .nav-item-currency select {
    padding: 10px;
    font-size: 14px;
  }

  .navbar-item {
    padding: 25px 30px;
  }



  .navbar-menu-icon i {
    font-size: 21px
  }

  .nav-item-user {
    display: none;

  }

  .nav-item-whitlist {
    display: none;
  }

  .brand-name a {
    margin-left: 65px;
  }

  .nav-menu {
    width: 240px;
  }

  .nav-menu .navside-bar-menu-list {
    padding: 20px;
    font-size: 17px;
  }




  .btn-list-navbar button {
    padding: 10px 10px;
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .brand-name a {
    display: none;
  }

  .navbar-item {
    padding: 15px 30px;
  }

  .nav-menu {
    width: 230px;
  }

  .nav-menu .navside-bar-menu-list {
    padding: 17px;
    font-size: 15.5px;
  }


  .btn-list-navbar button {
    font-size: 11.4px;
  }
}