.allproduct-container {
  text-align: center;
  padding: 35px 0;
  line-height: 1.6;
}

.allproduct-container-h2 {
  font-size: 22px;
}

.allproduct-container-p {
  color: grey;
  font-size: 17px;
}

.product-list-container {
  text-align: center;
  padding: 50px 0;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  position: relative;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 5px;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image-container {
  border-bottom: 1px solid #eaeaea;
}

.product-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.product-card .product-card-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  background-color: #ff708e;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 3px;
}

.addcart-icon {
  position: absolute;
  bottom: 145px;
  left: 0px;
  margin: auto;
  right: 0px;
  text-transform: none;
  color: white;
  background-color: rgb(28, 85, 95);
  ;
  font-size: 13.6px;
  z-index: 2;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  transform: translateY(5px);
  transition: opacity .25s ease, transform .25s ease-out, background .4s ease;
  font-weight: 200;
  border: none;
  outline: none;
  width: 95%;
  height: 34px;
}



.product-card:hover:hover .addcart-icon {
  opacity: 1;
}

.product-info {
  padding: 10px 10px 15px 10px;
  text-align: start;
}

.product-info span {
  color: rgb(167, 167, 167);
  font-size: 15px;
}

.product-info p:nth-child(2) {
  font-size: 17px;
  font-weight: 400;
  margin: 3px 0;
}

.product-info-price-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-info-price-cart div p {
  font-size: 19px;
  font-weight: bold;
  color: rgb(28, 85, 95);
}

.product-info-price-cart-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.product-info-price-cart-buttons div button {
  display: flex;
  border-radius: 5px;
  outline: none;
  padding: 8px 12px;
  font-size: 19px;
}

.product-info-price-cart-buttons div:nth-child(1) button {
  background-color: rgb(28, 85, 95);
  color: white;
  border: 1px solid rgb(28, 85, 95);
}

.product-info-price-cart-buttons div button {
  font-size: 17px;
}

.product-info-price-cart-buttons div:nth-child(2) button {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.view-btn {
  padding: 10px 20px;
  margin: 30px 0;
  background-color: transparent;
  border: 2px solid black;
  transition: 0.2s;
}

.view-btn:hover {
  transition: 0.2s;
  background-color: black;
  color: white;
}

.view-btn:active {
  transform: scale(0.98);
}

@media screen and (max-width: 1270px) {
  .product-card {
    width: 250px;
  }

  .product-image {
    height: 350px;
  }

  .product-card .product-card-tag {
    font-size: 10px;
  }

  .product-info p:nth-child(2) {
    font-size: 16px;
    margin: 3px 0;
  }


  .product-info-price-cart div p {
    font-size: 18px;
  }

  .product-info-price-cart-buttons div button {
    font-size: 17px;
  }
}

@media screen and (max-width: 780px) {
  .allproduct-container {
    padding: 15px 0;
    line-height: 1.6;
  }

  .view-btn {
    padding: 8px 16px;
  }

  .allproduct-container-h2 {
    font-size: 18px;
  }

  .allproduct-container-p {
    font-size: 15px;
  }

  .product-card {
    width: 210px;
  }

  .product-image {
    height: 280px;
  }

  .product-card .product-card-tag {
    font-size: 9px;
    padding: 1px 4px;
  }

  .product-info {
    padding: 7px 10px;
  }

  .product-info span {
    font-size: 12px;
  }

  .product-info p:nth-child(2) {
    font-size: 14px;
    margin: 0px 0 3px 0;
  }


  .product-info-price-cart div p {
    font-size: 16px;
  }

  .product-info-price-cart-buttons div button {
    font-size: 15px;
    padding: 7px 10px;
  }

}


@media screen and (max-width: 670px) {
  .product-card {
    width: 280px;
  }

  .product-image {
    height: 370px;
  }

  .product-card .product-card-tag {
    font-size: 11px;
  }


  .product-info p:nth-child(2) {
    font-size: 16px;
  }


  .product-info-price-cart div p {
    font-size: 18px;
  }

  .product-info-price-cart-buttons div button {
    font-size: 17px;
    padding: 8px 12px
  }

}

@media screen and (max-width: 580px) {
  .product-card {
    width: 260px;
  }

  .product-image {
    height: 390px;
  }
}

@media screen and (max-width: 540px) {
  .product-card {
    width: 240px;
  }

  .product-image {
    height: 340px;
  }

  .product-info p:nth-child(2) {
    font-size: 15.5px;
  }

}

@media screen and (max-width: 500px) {
  .product-card {
    width: 210px;
  }

  .product-image {
    height: 300px;
  }

  .product-info p:nth-child(2) {
    font-size: 14px;
  }

  .product-info-price-cart div p {
    font-size: 16px;
  }

  .product-info-price-cart-buttons div button {
    font-size: 15px;
    padding: 7px 10px;
  }

}

@media screen and (max-width: 440px) {
  .product-card {
    width: 190px;
  }

  .product-image {
    height: 280px;
  }

  .product-card .product-card-tag {
    font-size: 8px;
  }

  .product-info {
    padding: 0px 7px 8px 7px;
  }

  .product-info span {
    font-size: 11px;
  }

  .product-info p:nth-child(2) {
    font-size: 13px;
  }


  .product-info-price-cart div p {
    font-size: 15px;
  }

  .product-info-price-cart-buttons div button {
    font-size: 13px;
    padding: 6px 8px;
  }

}

@media screen and (max-width: 400px) {
  .view-btn {
    padding: 6px 10px;
  }

  .product-card {
    width: 170px;
  }

  .product-image {
    height: 260px;
  }

  .product-info {
    padding: 0 6px 8px 6px;
  }

  .product-info span {
    font-size: 10px;
  }

  .product-info p:nth-child(2) {
    font-size: 12px;
  }

  .product-info-price-cart div p {
    font-size: 13.5px;
  }

}

@media screen and (max-width: 360px) {
  .product-card {
    width: 150px;
  }

  .product-image {
    height: 220px;
  }

  .product-info {
    padding: 0 5px 7px 5px;
  }

  .product-info span {
    font-size: 9px;
  }

  .product-info p:nth-child(2) {
    font-size: 10px;
  }


  .product-info-price-cart div p {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .product-card {
    width: 130px;
  }

  .product-image {
    height: 190px;
  }
}